body {
	/*background-color: #ed4845;*/
	/*background-color: #f85a3e;*/
	background-color: #f9f8f8;
	overflow-x: hidden;
}
 
/* --------- HOMEPAGE --------- */
.header-content {
	padding-top: 7%;
	padding-bottom: 2%;
	margin-left: 50px;
}

.header-content-logo {
	padding-left: 50px;
}

.menu {
	position: fixed;
	width: 100%;
	z-index: 2;
	/*background-color: #292f36;*/
	/*background-color: #f4ac45;*/
	/*background-color: #584b53;*/
	background-color: #f85a3e;
	box-shadow: 0px 1px 10px #888888;
}

.menu-co {
	margin: 0 10% 0 22%;
}

.menu-content {
	margin: 0 10% 0 10%;
}

.menu .menu-co .menu-content a {
	color: white;
}

/*.menu-content-f {
	color: black;
}*/

.nav-item > a {
	color: white;
}

.icon-user {
	width: 3.5%;
	height: 40px;
	background-color: red;
	color: white;
	text-align: center;
	border-radius: 25px;
	padding-top: 3px;
	padding-left: 20px;
}

.icon-user:hover {
	background-color: white;
}

.icon-user img {
	width: 30px;
	height: 30px;
	float: right;
	margin-right: 5px;
	margin-top: 0;
	
}

.feed {
	width: 100%;
	height: auto;
	background-color: #fff;
	margin-top: 5px;
	margin-right: 1px;
	margin-left: 1px;
	padding: 5px 5px 5px 5px;
	overflow: auto;
	white-space: nowrap;
}

/*.contoh1 {
	background-color: black;
	width: 100px;
	height: 100px;
	margin-right: 5px;
}*/

/* The heart of the matter */
.testimonial-group > .row {
  overflow-x: hidden;
  white-space: nowrap;
  margin-bottom: 1%;
}
.testimonial-group > .row > .contoh1 {
  display: inline-block;
  float: none;
}

.feed-content {
	padding: 5px 5px 5px 5px;
	width: 100%;
	overflow: hidden; 
	background: white;
	border-radius: 2px;
	display: block;
}

/*.feed-content {
	width: 15rem;
	overflow: hidden;

}*/

/* Decorations */
.contoh1 { 
	color: #fff; 
	padding-bottom: 20px; 
	padding-top: 18px; 
	width: 900px; 
	text-overflow: inherit; 
	border: 1px white solid;
}

.contoh1:nth-child(3n+1) { background: #c69; }
.contoh1:nth-child(3n+2) { background: #9c6; }
.contoh1:nth-child(3n+3) { background: #69c; }

.text-status-h {
	color: red;
	font-style: italic;
	margin-bottom: 1px;
}

.text-status-d {
	color: green;
	font-style: italic;
	margin-bottom: 1px;
}

.isi {
	background-color: #c4e7d4;
	margin-top: 1%;
	padding: 7% 7% 7% 7%;
	/*min-height: calc(100vh - 70px);*/
}

.isi > .fitur-home {
	display: inline-flex;
	margin-left: 5%;
}

.fitur-content {
	margin: 0% 3% 0% 3%;
	padding: 3% 2% 3% 2%;
	width: 25%;
	height: auto;
	background-color: #c4e7d4;
	text-align: center;
}

.fitur-content > h4 {
	font-weight: bold;
	margin-top: 15px;
	margin-bottom: 15px;
}

.gambar img {
	width: 150px;
	height: 150px;
/*	border: 5px black solid;*/
	/*margin: 20% 20% 20% 50%;*/
}

.fitur {
	margin: 8% 5% 5% 6%;
}

.t_login {
	border-color: white;
	color: white;
}

.t_login:hover {
	background-color: #f4ac45;
	border-color: white;
}

/* --------- HOMEPAGE --------- */

/* --------- DETAIL --------- */

.isi > .detail {
	padding: 4% 3% 4% 3%;
}

.detail-img {
	width: 400px;
	height: 100%;
	border: 2px red solid;
	display : flex;
  	align-items : center;
}

.detail-img img {
	max-width: 400px;
	max-height: 400px
}

/* --------- DETAIL --------- */


/* --------- TENTANG --------- */

.tentang-title {
	text-align: center;
	margin-bottom: 3%;
}

/* --------- TENTANG --------- */

/* --------- KEHILANGAN --------- */

.kolom-cari {
	padding: 2% 2% 2% 2%;
}

.kolom-lapor {
	padding: 2% 2% 2% 60%;

}

.list-data {
	padding: 0 0 0 0;
	margin: 0 0 0 0;
}

.list-data-content {
	-webkit-flex-wrap: wrap;
  	flex-wrap: wrap;
  	/*margin: 1% 1% 50% 1%;*/
}

.form-laporan {
	/*border: 1px red solid;*/
	margin: 0 0 0 0;
	padding: 0 3% 3% 3%;
	background-color: #c4e7d4;
	border: 2px white solid;
}

.form-header {
	text-transform: uppercase;
	margin: 10% 0 10% 0;
}

/* --------- KEHILANGAN --------- */

/* --------- FOOTER --------- */

.footer {
	background-color: #292f36;
	/*background-color: #584b53;*/
	/*background-color: #f4ac45;*/
	/*background-color: #f85a3e;*/
	width: 100%;
	height: 80px;
	/*margin-left: 0;
	margin-top: 0;
	margin-bottom: 0;*/
	/*bottom: 0;
	position: relative;*/
}

.container-fluid {
	padding-right:0;
    padding-left:0;
    margin-right:auto;
    margin-left:auto;
}

.footer-content {
	text-align: center;
	color: white;
	margin: 0 auto;
	padding-top: 2%;
}

/* --------- FOOTER --------- */

.owl-prev {
    width: 30px;
    height: 155px;
    position: absolute;
    top: 40%;
    margin-left: -40px;
    margin-top: -71px;
    display: block !important;
    border:0px solid black;
}

.owl-next {
    width: 30px;
    height: 155px;
    position: absolute;
    top: 40%;
    right: -40px;
    margin-top: -71px;
    display: block !important;
    border:0px solid black;
}

/*LIVE CHAT*/

.chat-co {
	width: 10%;
	height: auto;
	padding: 10px 10px 10px 10px;
	bottom: 0;
	right: 100px;
	position: absolute;
	background-color: grey;
	position: fixed;
	color: white;
}